Characteristics of Sets
Unordered: The elements in a set do not have a fixed position.
Unique Elements: A set automatically removes duplicate values.
Mutable: You can add or remove elements.
Unindexed: Elements cannot be accessed using an index.

In [2]:
my_set = {1,2,2,3,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [3]:
my_set.add(9)
print(my_set)

{1, 2, 3, 4, 5, 9}

In [4]:
my_set.remove(9)
print(my_set)

{1, 2, 3, 4, 5}

In [5]:
my_set.discard(9)
print(my_set)

{1, 2, 3, 4, 5}

In [6]:

removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3, 4, 5}

In [8]:
my_set.clear()
print(my_set)

set()

In [10]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
new_set = set1.union(set2)
print(new_set)

{1, 2, 3, 4, 5}

In [11]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
common = set1.intersection(set2)
print(common)

{2, 3}

In [12]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
diff = set1.difference(set2)
print(diff)

{1, 2}

In [16]:
set1 = {1, 2, 3 , 0}
set2 = {3, 4,0,5}
sym_diff = set1.symmetric_difference(set2)
print(sym_diff)

{1, 2, 4, 5}

In [17]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5} #if all the elements of a set in another sts
print(set1.issubset(set2))  # True
print(set2.issubset(set1))  # False

True
False

In [18]:
set1 = {1, 2, 3, 4, 5} #Checks if a set contains all elements of another.
set2 = {1, 2, 3}
print(set1.issuperset(set2))  # True
print(set2.issuperset(set1))  # False

True
False

In [20]:
set1 = {1, 2, 3} #Returns True if sets have no common elements.
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))  # True

True